<!doctype html>
<html lang="sv">
 <head>
  <meta charset="utf-8">
<!-- länk till stilmall -->
<!DOCTYPE html>
<html lang="sv">
 <head>
  <meta charset="utf-8">
<!-- länk till stilmall -->
 <!-- <link rel="stylesheet" type="text/css" href="stilmall.css" /> -->
  <title>Min hemsida</title>  
 </head>
 <body>
  <h1>Internets Historia</h1>
   <p>Internet är ett globalt nätverk som sammankopplar datorer till varandra.  Det är information som bearbetas och skickas mellan flera olika enheter. Sammankopplingen 
   använder routrar som bestämmer vilken nätverksadress informationen ska till. Informationen går ofta igenom många olika routrar innan den nått sitt mål och är slutförd.
   Detta känner de flesta som använder bredband säkert igen.

   Internet skapades 1964 av det amerikanska försvarsministeriet och kallades ARPANET (Advanced Research Projects Agency Network).
   Det skapades först för e-post men runt 1990 så skapades World Wide Webb av Tim Berners-Lee i Cern, Schweiz. Webben blev då en internettjänst som gjorde webbsidor och datafiler tillgängliga via internet. Värt att nämna är att webben bygger på tre olika delar: URL som specificerar hur webbsidan ska se ut, HTTP hur webbsidan ska visas och HTML som specificerar hur webbsidans innehåll ska beskrivas. 
   Tack vare Internet kan vi surfa, maila, chatta, dejta, shoppa osv.

   HTTP styrs av Internet Protocol eller förkortat IP. Vid användning av IP överförs små paket. Dessa innehåller information om avsändare och mottagaradress i form av en IP-adress. IP-adressen skrivs med en sifferföljd avgränsande med punkter som t.ex. ”54.213.421.237”. Det är en sorts person nummer som gör att en enhet eller server lätt går att hitta. Men istället för  att memorera IP-adressen när man ska in på en webbsida så använder man sig av Domännamn. Istället för en långsifferkod (person nr/data nummer) så använder man sig av ett vanligt namn vilken representerar hemsidans tjänster, och det underlättar stort för användarna. För att dölja IP-adressen med ett Domännamn så använder man sig av DNS. Detta sker automatiskt  och osynligt. DNS kan ses som Internets telefonkatalog. Det ska också tilläggas att World Wide Webb, drygt trettio år efter sin skapelse, fortfarande använder de grundläggande teknikerna HTML och HTTP.

   13 oktober 1993 lanserades den första något sånär lätthanterliga webbläsaren Mosaik, vilket bidrog till ökad användning av webben. Med Mosaik navigerade man runt på webben på liknande sätt som idag, med hjälp av URL och hyperlänkar. Men den första webbläsaren som nådde den stora allmänheten heter Netscape Navigator och den dominerade marknaden runt 90-talet. Nya uppdateringar flödade in och nya tekniker som ljud, animationer och video skapades. Netscape blev också modellen för de kommande webbläsarna.

   Annars är Java Script och Adobe Flash exempel på program som gjorde det möjligt för spel och animationer att utvecklas på webben. Båda var projekt som startades på 90-talet.

   Sökmotorerna är tjänster som gör det enklare för oss att hitta de sidor vi letar efter, och den största är Google. Goggle gör det lättare för oss att hitta sidor genom att skriva in vårt sökmål i en sökruta så letar de upp relevanta sidor.

   Skapelsen av de sociala medierna ledde till att webben används dagligen. I februari 2004 skapade Mark Zuckerberg Facebook. Facebook  är ett socialt nätverk som förenar människor med bland annat  videor, musik och statusuppdateringar om sina liv.
    </p>
     
<!-- Andra stycket -->
   <h2>Påvekan på samhället</h2>     
   <p>Webben har utan tvekan ändrat på sättet vi lever, bland annat hur vi kommunicerar, hur vi arbetar osv. Det är helt enkelt gjort så att de dagliga uppgifterna blivit smidigare och mer effektiva. Man kan lyssna på musik, läsa tidningen och se på nyheterna på webben. Intressant är också att man t.om med möta sitt livs kärlek på en dejting sida!

   Vidare är webben även ett enda stort uppslagsverk. Att googla någonting är idag ett vida använt begrepp. Likaså har e-handeln växt explosionsartat eftersom man kan föra över pengar via nätet när man handlat på allehanda sidor.  Swish appen är flitigt använd till att föra pengar mellan konton.

   Ändå så är det de sociala nätverken det som påverkat samhället mest. Människans sätt att utrycka sig med videor och musik och vem som helst kommer med åsikter man aldrig vågat utrycka tidigare. Den stora allmänbildningen borde, åtminstone inom den kunskapstörstande delen av användarna också öka, då sidor som Wikipedia haft stort inflytande på samhället.

   Men såklart finns det negativa aspekter med webben också. Nät hat och mobbing förekommer ofta på internet. Som sagt så vågar man utrycka sig på ett annat sätt än om man ses öga mot öga, och det kan leda till att människor blir mobbade på nätet.
   I övrigt så var den största krisen inom internet när It-bubblan sprack. Då hade webben växt otroligt snabbt på kort tid, och företag som utvecklade webbsidor fick orealistiska värderingar vilket ledde till en ekonomisk kris och företag gick i konkurs. När utvecklingen gick så snabbt hade företagen stora förväntningar och många satsade allt på avancerade webbsidor som skulle locka fler att köpa. 

   Dock hade inte gemene man tillräckligt snabb uppkoppling för att ladda upp sidorna med resultatet att sidorna sålde dåligt och företagen gick i konkurs. Även om allt inte varit en framgångs saga så finns oändlig potential och internet kommer med all säkerhet fortsätta att växa även i framtiden och ”nätet” kommer fortsätta att vara grunden inom väldigt många stora områden där kommunikation används. Internet och grafisk it spås ofta ha en väldigt ljus framtid inom kanske framförallt infrastrukturen. Således ser framtiden fortsatt mycket ljus för Internet.
    </p> 
     
<!-- Provar skapa en låda -->    
  <div id="box">Detta är första div taggen</div>   
 </body>
</html>

  <title>Min hemsida</title>  
 </head>
 <body>
  <h1>Internets Historia</h1>
   <p>Internet är ett globalt nätverk som sammankopplar datorer till varandra.  Det är information som bearbetas och skickas mellan flera olika enheter. Sammankopplingen 
   använder routrar som bestämmer vilken nätverksadress informationen ska till. Informationen går ofta igenom många olika routrar innan den nått sitt mål och är slutförd.
   Detta känner de flesta som använder bredband säkert igen.

   Internet skapades 1964 av det amerikanska försvarsministeriet och kallades ARPANET (Advanced Research Projects Agency Network).
   Det skapades först för e-post men runt 1990 så skapades World Wide Webb av Tim Berners-Lee i Cern, Schweiz. Webben blev då en internettjänst som gjorde webbsidor och datafiler tillgängliga via internet. Värt att nämna är att webben bygger på tre olika delar: URL som specificerar hur webbsidan ska se ut, HTTP hur webbsidan ska visas och HTML som specificerar hur webbsidans innehåll ska beskrivas. 
   Tack vare Internet kan vi surfa, maila, chatta, dejta, shoppa osv.

   HTTP styrs av Internet Protocol eller förkortat IP. Vid användning av IP överförs små paket. Dessa innehåller information om avsändare och mottagaradress i form av en IP-adress. IP-adressen skrivs med en sifferföljd avgränsande med punkter som t.ex. ”54.213.421.237”. Det är en sorts person nummer som gör att en enhet eller server lätt går att hitta. Men istället för  att memorera IP-adressen när man ska in på en webbsida så använder man sig av Domännamn. Istället för en långsifferkod (person nr/data nummer) så använder man sig av ett vanligt namn vilken representerar hemsidans tjänster, och det underlättar stort för användarna. För att dölja IP-adressen med ett Domännamn så använder man sig av DNS. Detta sker automatiskt  och osynligt. DNS kan ses som Internets telefonkatalog. Det ska också tilläggas att World Wide Webb, drygt trettio år efter sin skapelse, fortfarande använder de grundläggande teknikerna HTML och HTTP.

   13 oktober 1993 lanserades den första något sånär lätthanterliga webbläsaren Mosaik, vilket bidrog till ökad användning av webben. Med Mosaik navigerade man runt på webben på liknande sätt som idag, med hjälp av URL och hyperlänkar. Men den första webbläsaren som nådde den stora allmänheten heter Netscape Navigator och den dominerade marknaden runt 90-talet. Nya uppdateringar flödade in och nya tekniker som ljud, animationer och video skapades. Netscape blev också modellen för de kommande webbläsarna.

   Annars är Java Script och Adobe Flash exempel på program som gjorde det möjligt för spel och animationer att utvecklas på webben. Båda var projekt som startades på 90-talet.

   Sökmotorerna är tjänster som gör det enklare för oss att hitta de sidor vi letar efter, och den största är Google. Goggle gör det lättare för oss att hitta sidor genom att skriva in vårt sökmål i en sökruta så letar de upp relevanta sidor.

   Skapelsen av de sociala medierna ledde till att webben används dagligen. I februari 2004 skapade Mark Zuckerberg Facebook. Facebook  är ett socialt nätverk som förenar människor med bland annat  videor, musik och statusuppdateringar om sina liv.
    </p>
     
<!-- Andra stycket -->
   <h2>Påvekan på samhället</h2>     
   <p>Webben har utan tvekan ändrat på sättet vi lever, bland annat hur vi kommunicerar, hur vi arbetar osv. Det är helt enkelt gjort så att de dagliga uppgifterna blivit smidigare och mer effektiva. Man kan lyssna på musik, läsa tidningen och se på nyheterna på webben. Intressant är också att man t.om med möta sitt livs kärlek på en dejting sida!

   Vidare är webben även ett enda stort uppslagsverk. Att googla någonting är idag ett vida använt begrepp. Likaså har e-handeln växt explosionsartat eftersom man kan föra över pengar via nätet när man handlat på allehanda sidor.  Swish appen är flitigt använd till att föra pengar mellan konton.

   Ändå så är det de sociala nätverken det som påverkat samhället mest. Människans sätt att utrycka sig med videor och musik och vem som helst kommer med åsikter man aldrig vågat utrycka tidigare. Den stora allmänbildningen borde, åtminstone inom den kunskapstörstande delen av användarna också öka, då sidor som Wikipedia haft stort inflytande på samhället.

   Men såklart finns det negativa aspekter med webben också. Nät hat och mobbing förekommer ofta på internet. Som sagt så vågar man utrycka sig på ett annat sätt än om man ses öga mot öga, och det kan leda till att människor blir mobbade på nätet.
   I övrigt så var den största krisen inom internet när It-bubblan sprack. Då hade webben växt otroligt snabbt på kort tid, och företag som utvecklade webbsidor fick orealistiska värderingar vilket ledde till en ekonomisk kris och företag gick i konkurs. När utvecklingen gick så snabbt hade företagen stora förväntningar och många satsade allt på avancerade webbsidor som skulle locka fler att köpa. 

   Dock hade inte gemene man tillräckligt snabb uppkoppling för att ladda upp sidorna med resultatet att sidorna sålde dåligt och företagen gick i konkurs. Även om allt inte varit en framgångs saga så finns oändlig potential och internet kommer med all säkerhet fortsätta att växa även i framtiden och ”nätet” kommer fortsätta att vara grunden inom väldigt många stora områden där kommunikation används. Internet och grafisk it spås ofta ha en väldigt ljus framtid inom kanske framförallt infrastrukturen. Således ser framtiden fortsatt mycket ljus för Internet.
    </p> 
 </body>
</html>
