<div class="container p-0">
    <div class="bg-about-us">
        <div class="row">
            <div class="col-md-5 p-0">
                    <div class="photo"
                        style="background-image: url('/assets/img/exploration-pictures/zansibar-beach.jpg');">
                </div>
            </div>
            <div class="col-md-5 p-0">
                <div class="container-inner">
                    <h1>{{'ABOUT.ABOUT_US' | translate }}</h1>
                    <div class="paragraph-section mb-7">
                        {{'ABOUT.TEXTROW_1' | translate }}
                        {{'ABOUT.TEXTROW_2' | translate }}
                        {{'ABOUT.TEXTROW_3' | translate }}
                        {{'ABOUT.TEXTROW_4' | translate }}
                        {{'ABOUT.TEXTROW_5' | translate }}
                    </div>
                    <button type="button" class="brown-btn">{{'BUTTON.READ_MORE' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>