
<h1>Contact Us</h1>
<!-- <div class="contact-us">
    <img src="/assets/img/exploration-pictures/zansibar beach.jpg">
    <button class="black-btn">CONTACT US</button>
 </div> -->

 <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="photo photo-md" style="background-image: url('/assets/img/exploration-pictures/zansibar beach.jpg');"></div>
      </div>
      <div class="col-md-4">
        <div class="photo photo-lg" style="background-image: url('/assets/img/exploration-pictures/mandarinfish-2336895_640.jpg');"></div>
      </div>
      <div class="col-md-4">
        <div class="photo photo-sm" style="background-image: url('/assets/img/exploration-pictures/humphback.jpg');"></div>
      </div>
      <div class="col-md-4">
        <div class="photo photo-lg" style="background-image: url('/assets/img/exploration-pictures/scubalady-6015779_640.jpg');"></div>
      </div>
      <div class="col-md-4">
        <div class="photo photo-md" style="background-image: url('/assets/img/exploration-pictures/tanks.jpg');"></div>
      </div>
      <div class="col-md-4">
        <div class="photo photo-sm" style="background-image: url('/assets/img/exploration-pictures/course inspirational.jpg');"></div>
      </div>
    </div>
  </div>
  