<div class="e-learning">
    <!--   <h1>E-learning</h1> -->
    <div class="image-background">
        <a><img src="/assets/img/exploration-pictures/mandarinfish-2336895_640.jpg"></a>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="photo photo-sm" style="background-image: url('/assets/img/exploration-pictures/humphback.jpg');"></div>
      </div>
      <div class="col-sm-4">
        <div class="photo photo-md" style="background-image: url('/assets/img/exploration-pictures/humphback.jpg');"></div>
      </div>
      <div class="col-sm-4">
        <div class="photo photo-lg" style="background-image: url('/assets/img/exploration-pictures/humphback.jpg');"></div>
      </div>
    </div>
  </div>
  
