<!-- <div class="e-learning">
       <h1>E-learning</h1> 
    <div class="image-background">
        <a><img src="/assets/img/exploration-pictures/mandarinfish-2336895_640.jpg"></a>
    </div>
</div> -->

<!-- <div class="e-learning">
      <h1>E-learning</h1> 
    <div class="image-background">
        <a><img src="/assets/img/exploration-pictures/mandarinfish-2336895_640.jpg"></a>
    </div>
</div> -->

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/exploration-pictures/mandarinfish-2336895_640.jpg" class="d-block w-100" alt="Image 1">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/exploration-pictures/wreckage-1274027_640.jpg" class="d-block w-100" alt="Image 2">
      </div>
      <div class="carousel-item">
        <img src="src/assets/img/exploration-pictures/humphback.jpg" class="d-block w-100" alt="Image 3">
      </div>
      <!-- Add more carousel items as needed -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  