<div class="e-learning">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex justify-content-end">
          <div class="photo-e-learn photo-mini"
            style="background-image: url('/assets/img/exploration-pictures/scubalady-6015779_640.jpg');"></div>
        </div>
        <div class="photo photo-md-left" style="background-image: url('/assets/img/exploration-pictures/tanks.jpg');">
        </div>
      </div>
      <div class="col-md-4 position-relative">
        <div class="photo-learn photo-maxi"
          style="background-image: url('/assets/img/exploration-pictures/group image.jpg');">
          <div class="overlap-content">
            <h2> Your ticket to the ocean world</h2>
            {{'HOME.TEXTROW_1' | translate }}
            {{'HOME.TEXTROW_2' | translate }}
          </div>
        </div>
        <div class="text-container">
          <div class="text-learn">
            <!--    <h2> Your ticket to the ocean world</h2>  -->
            {{'HOME.TEXTROW_1' | translate }}
            {{'HOME.TEXTROW_2' | translate }}
            <div class="mt-3">
              <button class="black-btn" (click)="changePage()" title="Read more" aria-label="Select language">
                {{'BUTTON.READ_MORE' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="photo-md-right" style="background-image: url('/assets/img/exploration-pictures/dsd maybe.jpg');">
        </div>
      </div>
    </div>
  </div>
</div>