<header>
	<!--Navigation links -->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<div class="container-fluid">
			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item"><a [routerLink]="['/home']" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
				<li class="nav-item"><a [routerLink]="['/about']" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
				<li class="nav-item"><a [routerLink]="['/courses']" routerLinkActive="active" ariaCurrentWhenActive="page">Courses</a></li>
				<li class="nav-item"><a [routerLink]="['/contact']" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>	
			</ul>
		</div>
	</nav>
</header>