



/* Unsortedlist */
ul.course-props {
	font-size: small;
}

/* Product list */
 ul.course-props li {
	list-style-type: none;
}

 /* Product-info */
.course-info {
	border: 1px solid grey;
	display: inline-block;
	padding: 5px;
	margin: 2px;
	background-color: lightgray;
}

.course-info img {
	margin: 3px;
	float: left;
	border: 1px solid black;
	max-width: 150px;
}






 