<app-header></app-header>

<!-- Where to place this link? -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"> 

	<div class="row">
		<div class="col-md-9">
			<!--Presentationsdelen -->
			<div id="förstasida">
				<!--Brödtext -->
				<div id="brödtext"> 
					<!-- Textavsnitt samt huvudrubrik -->
					<h3>Prova på att dyka med oss!</h3>
					<p> <img src="/assets/img/vertical/EFR_web_06_335x500.jpeg" alt="Woundedchild1"
							style="float: left; margin: 0px 15px 15px 15px;" alt="EFR" width="246" height="254">
					</p> 
					<!-- Andra stycket -->
					<h3>add title</h3>
					<p>
						Han har jämförts med såväl Thomas Edison som Steve Jobs. Men Elon Musk
						saknar motstycke: han vill att människor ska kunna leva på Mars,<br>
						han vill att vi ska köra bilar vars enda drivmedel är solenergi,
						han drivs av en vision lika överdådig och kittlande som en science-fiction fantasi.
					</p>
					<p>
						För företagsledaren och miljardären Musk handlar det om mer än en fantasi.
						Med företag som Tesla Motors, SpaceX, PayPal och SolarCity<br> har han sänt chockvågor genom
						affärs- och industrivärlden. I sin hyllade biografi berättar Ashlee Vance om Elon Musks
						dramatiska liv och <br> om hur hans häpnadsväckande visioner formar vår tid. "Han gör vad han
						vill
						det är Elons värld och resten av oss lever i den."
					</p>
					<p>
						"Efter de sista sidorna kommer ingen läsare vilja jämföra honom med Steve Jobs. Ge Musk
						erkännande.
						Det finns ingen som han." <br>
						The New York Times
					</p>
					<p>
						"Vance tecknar en oförglömlig bild av Musks unika personlighet, outsinnliga drivkraft och
						förmåga att växa genom stora utmaningar." <br>
						The Washington Post
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<p>This is bootstrap class col-md-3</p>
			<div class="course-info">
				<img src="assets/img/vertical/bubblemaker_393x315.png" alt="Bubblemaker" />
				<h3>Bubblemaker</h3>
				<ul class="course-props">
					<li>Price: 898.00 kr</li>
					<li>Instructor: Mikael Rosendahl</li>
					<li>Level: Beginner </li>
					<li>Description: Fun dive!</li>
				</ul>
				<button id="Add" class="btn btn-success">Buy</button>
			</div>
		</div>
	</div>

<router-outlet></router-outlet>