<nav>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=5, user-scalable=yes">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container-fluid p-0">
            <div class="bg-container">
                <div class="d-flex>">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <div class="container-fluid">
                            <button class="btn" (Click)="toogleList()" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="fa-solid fa-bars navbar-toggler" title="smallMenu"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-left ps-4">
                                <ul class="navbar-nav gap-4">
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="/home" aria-label="Home">{{'MENU.HOME' |
                                            translate}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="/about" aria-label="About">{{'MENU.ABOUT' |
                                            translate}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="/courses" aria-label="Courses">{{'MENU.COURSES'
                                            | translate}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="/contact" aria-label="Contact">{{'MENU.CONTACT'
                                            | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="d-flex justify-content-left gap-2 pe-4">
                                <button class="btn btn-transparent" (click)="switchLanguage()" title="Select language"
                                    aria-label="Select language">{{ currentLanguage }}
                                    <span class="fa-solid fa-globe nav-globe"></span>
                                </button>
                                <a class="nav-link" routerLink="/login" aria-label="Login">{{'MENU.LOGIN' |
                                    translate}}</a>
                                <a class="nav-link" routerLink="/create-user"
                                    aria-label="Create User">{{'MENU.CREATE_USER' | translate}}</a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="content-container d-flex flex-column justify-content-center align-items-center gap-3">
                        <div>
                            <a><img src="\assets\img\logo\Logo 250x61.png" alt="exploration logo"></a>
                        </div>
                        <div class="text pe-4">
                            {{ 'HOME.TEXTROW_1' | translate }}
                            {{ 'HOME.TEXTROW_2' | translate }}
                            {{ 'HOME.TEXTROW_3' | translate }}
                            {{ 'HOME.TEXTROW_4' | translate }}
                        </div>
                        <div class="mt-3">
                            <button class="red-btn">{{ 'HOME.READ_MORE' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>
</nav>
<router-outlet></router-outlet>
