<div class="content d-flex flex-wrap justify-content-center align-content-center ">
	<a><img src="\assets\img\logo\logo333px.png" alt="exploration logo"></a>
</div>

<div class="d-flex flex-wrap justify-content-center bg-color">
	<div class="text">
		<p>Since our opening, we have become masters of our craft.
		Our commitment to quality products, execeptional services
		and incomperable cutomer care keep our community 
		coming back again and again.</p>
	</div>
</div>
<router-outlet></router-outlet>