<div class="bg-learn">
  <div class="learn-container">
    <div class="row">
      <!-- <div class="col-md-3">
        <div class="learn-content-container">
          <div class="text-learn">
             <h1>Learn how to dive!</h1>
            <h2> Your ticket to the ocean world</h2> 
            {{'HOME.TEXTROW_1' | translate }}
            {{'HOME.TEXTROW_2' | translate }}
            {{'HOME.TEXTROW_3' | translate }}
            {{'HOME.TEXTROW_4' | translate }}
          </div>
        </div>
      </div> -->
      <div class="col-md-4">
        <div class="photo-learn photo-md"
          style="background-image: url('/assets/img/exploration-pictures/course inspirational.jpg');">
        </div>
      </div>
      <div class="col-md-4">
        <div class="photo-learn photo-md" style="background-image: url('/assets/img/exploration-pictures/tanks.jpg');">
        </div>
      </div>
      <div class="col-md-4">
        <div class="photo-learn photo-md"
          style="background-image: url('/assets/img/exploration-pictures/scubalady-6015779_640.jpg');">
        </div>
      </div>
    </div>
  </div>