<div class="bg-learn">
  <div class="learn-container">
    <div class="row">
      <div class="col-md-4 ms-4">
        <div class=" d-flex justify-content-end">
          <div class="photo-learn photo-mini mb-0"
            style="background-image: url('/assets/img/exploration-pictures/scubalady-6015779_640.jpg');">
          </div>
        </div>
        <div class="photo-learn photo-md"
          style="background-image: url('/assets/img/exploration-pictures/course inspirational.jpg');">
        </div>
      </div>
      <div class="col-md-4">
        <div class="photo-learn photo-maxi"
          style="background-image: url('/assets/img/exploration-pictures/tanks.jpg');">
        </div>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>