<div class="bg-learn">
  <div class="learn-container">
    <div class="row">
      <div class="col-md-4">
        <div class="photo-learn photo-md"
          style="background-image: url('/assets/img/exploration-pictures/course inspirational.jpg');">
        </div>
      </div>
      <div class="col-md-4">
        <div class="photo-learn photo-md" style="background-image: url('/assets/img/exploration-pictures/tanks.jpg');">
        </div>
      </div>
      <div class="col-md-4">
        <div class="photo-learn photo-md"
          style="background-image: url('/assets/img/exploration-pictures/scubalady-6015779_640.jpg');">
        </div>
      </div>
    </div>
  </div>