<form class="loginform" (ngSubmit)="onSubmit()">
    <h1>LOGIN</h1>
    <div class="mb-3">
        <label for="email" class="form-label">{{'FORM_LABEL.EMAIL' | translate }}</label>
        <input type="text" class="form-control" [(ngModel)]="email" name="email" aria-label="email" placeholder="Email"
            required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">{{'FORM_LABEL.PASSWORD' | translate }}</label>
        <input type="text" class="form-control" [(ngModel)]="password" name="password" aria-label="password"
            placeholder="Password" required>
    </div>
    <div class="mb-3">
        <input type="checkbox" class="form-check-input" />
        <label class="form-label">{{'FORM_LABEL.SAVE_LOGIN' | translate }}</label>
    </div>
    <button class="btn-primary text-white" type="submit" aria-label="login">{{'BUTTON.LOGIN' | translate}}</button>
    <!--  <button class="blue-btn" type="submit">Create User</button> -->
</form>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
