<div class="container p-0">
    <div class="bg-new-contact">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
              
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact">
                    <div class="custom-font">contact us</div>
                    <form class="contact-form" (ngSubmit)="submitForm(contact)" #contact="ngForm">
                        <div class="mb-3">
                          <input type="email" class="form-control" id="emailHelp" [(ngModel)]="formData.email" name="email" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                          <input type="name" class="form-control" id="password" [(ngModel)]="formData.name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control custom-textarea" id="message" name="message" [(ngModel)]="formData.message"
                                value="Enter your message" required></textarea>
                        </div>
                        <button type="submit" class="btn-primary text-white">{{'FORM_LABEL.SUBMIT' | translate }}</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  [(ngModel)]="formData.email" value="Enter a valid email address"

(ngSubmit)="submitForm(contact)" #contact="ngForm"-->