<div class="container p-0">
    <div class="bg-new-contact">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43467.76704071883!2d14.378571332398995!3d35.92834683719711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130e4efd30788a15%3A0x38d37a71ec68b160!2sCaf%C3%A9%20del%20Mar%20Malta!5e0!3m2!1ssv!2sse!4v1692019110190!5m2!1ssv!2sse" width="540" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact">
                    <div class="custom-font">contact us</div>
                     <form class="contact-form" (ngSubmit)="submitForm(contact)" #contact="ngForm">
                        <div class="mb-3">
                            <input type="email" class="form-control" id="emailHelp" name="email"
                                [(ngModel)]="formData.email" value="Enter a valid email address"
                                aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formData.name"
                                value="Enter your name" required>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" id="message" name="message" [(ngModel)]="formData.message"
                                value="Enter your message" required></textarea>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="black-btn">{{'FORM_LABEL.SUBMIT' | translate }}</button>
                           <a href="mailto:contactus@exploration.se?Subject=Reservation" target="_blank">MAKE RESERVATION</a> 
                        </div> 
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>