<div class="container p-0">
    <div class="bg-new-contact">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <h2 class="header">LOCATION</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact">
                    <form class="contact-form" (ngSubmit)="submitForm(contact)" #contact="ngForm">
                        <div class="custom-font">contact us</div>
                        <div class="mb-3 mt-3">
                            <input type="email" class="form-control" id="emailHelp" [(ngModel)]="formData.email"
                                name="email" placeholder="Enter a valid email address" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <input type="name" class="form-control" id="name" [(ngModel)]="formData.name"
                                name="name" required placeholder="Enter your Name" >
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control custom-textarea" id="message" name="message"
                                [(ngModel)]="formData.message" required placeholder="Enter your message"></textarea>
                        </div>
                        <button type="submit" class="transparent-btn text-white">{{'FORM_LABEL.SUBMIT' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
