<!-- <div class="our-courses text-white">
    <h1>Our Courses</h1>
    <button class="blue-btn">ALL COURSES</button>
    <button class="transparent-btn">LEARN MORE</button>
 </div> -->

 <div class="explore-container p-0">
    <div class="d-flex justify-content-center">
       <div class="content-explore d-flex flex-column justify-content-center align-items-center gap-3 pe-5">
          <!-- <div class="img-explore"></div> -->
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
             <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                <!-- Add more indicators for additional slides if needed -->
             </ol>
             <div class="carousel-inner">
                <div class="carousel-item active">
                   <img src="/assets/img/exploration-pictures/wreck-black-n-white.jpg" class="d-block w-100"
                      alt="Slide 1">
                </div>
                <div class="carousel-item">
                   <img src="/assets/img/exploration-pictures/nice scuba pic.jpg" class="d-block w-100"
                      alt="Slide 2">
                </div>
                <div class="carousel-item">
                <img src="/assets/img/exploration-pictures/diving silfra.jpg" class="d-block w-100" alt="Slide 3">
              </div> 
                <!-- Add more carousel items for additional slides if needed -->
             </div>
             <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev"
                data-bs-no-jquery="true">
                <span class="carousel-control-previos-icon" aria-hidden="true"></span>
                <span class="visually-hidden">First</span>
             </a>
             <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next"
                data-bs-no-jquery="true">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Second</span>
             </a>
             <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next"
                data-bs-no-jquery="true">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Third</span>
             </a>
          </div>
       </div>
    </div>
 </div>
