 <h1>Travel</h1>
<!-- <div class="travel text-white">
  <div class="image-background">
    <a><img src="/assets/img/exploration-pictures/bubbles-467509_1280.jpg"></a>
    </div>
 </div> -->
 <div class="container">
  <div class="row advanced-grid">
    <div class="col-sm-6 col-md-4">
      <div class="photo photo-lg" style="background-image: url('path-to-large-photo1.jpg');"></div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="photo photo-md" style="background-image: url('path-to-medium-photo1.jpg');"></div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="photo photo-sm" style="background-image: url('path-to-small-photo1.jpg');"></div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="photo photo-md" style="background-image: url('path-to-medium-photo2.jpg');"></div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="photo photo-lg" style="background-image: url('path-to-large-photo2.jpg');"></div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="photo photo-sm" style="background-image: url('path-to-small-photo2.jpg');"></div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="photo photo-sm" style="background-image: url('path-to-small-photo3.jpg');"></div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="photo photo-md" style="background-image: url('path-to-medium-photo3.jpg');"></div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="photo photo-lg" style="background-image: url('path-to-large-photo3.jpg');"></div>
    </div>
  </div>
</div>
