/* You can add global styles to this file, and also import other style files */


/* Logo color-schema 
Shape 1
Color: #EBE7D9
Border Color: #EBE7D9

Shape 2
Color: #F55139
Border Color: #EBE7D9

Exploration
Text Color: #EBE7D9
Font: Zen Dots

Unlimited
Text Color: #EBE7D9
Font: Space Mono

Background
Color: #0F222D */
