@import "variables";
@import "fonts";

.bg-about-us {
  height: auto;
  max-width: 1280px;
  margin: 70px;
  background-color: $secondary;

  .photo {
    height: 400px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px;
  }

  .container-inner {
    margin-top: 8rem;

    h1 {
      font-family: "Oswald", sans-serif !important;
      font-size: 3rem;
      color: $turtle-brown;
    }

    .paragraph-section {
      font-size: 16px;
      color: $turtle-brown;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }

}