.text-about {
    font: 1em sans-serif;
    color: $secondary;
    height: 3rem;
    width: 512px;
    text-align: center;
    background-color: transparent;
    line-height: 1.4; /* Set the desired line height for more spacing between text rows */
    margin-bottom: 4rem; 
 
 
 }