.bg-color-prim {
    background-color: $primary;
}

.bg-color-sec {
    background-color: $secondary;
}

.bg-trans {
    background-color: transparent;
}

.bg-color-white {
    background-color: $white;
}