.red-btn {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    border-style: none;
    font-weight: 700;
    padding: 10px 22px 10px 21px;
    background-color: $third; 
    /* Replace with your desired background color */
     color: #fff; 
    /* Replace with your desired text color */
    border-radius: 4px; 
    /* Add some border-radius to give a rounded appearance */
} 

.blue-btn {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    border-style: none;
    font-weight: 700;
    padding: 10px 22px 10px 21px;
    background-color: blue; 
    /* Replace with your desired background color */
     color: #fff; 
    /* Replace with your desired text color */
    border-radius: 4px; 
    /* Add some border-radius to give a rounded appearance */
} 

.transparent-btn {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    border-style: none;
    font-weight: 700;
    padding: 10px 22px 10px 21px;
    background-color: transparent; 
    /* Replace with your desired background color */
     color: #fff; 
    /* Replace with your desired text color */
    border-radius: 4px; 
    /* Add some border-radius to give a rounded appearance */
}

.black-btn {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    border-style: none;
    font-weight: 700;
    padding: 10px 22px 10px 21px;
    background-color: black; 
    /* Replace with your desired background color */
     color: #fff; 
    /* Replace with your desired text color */
    border-radius: 4px; 
    /* Add some border-radius to give a rounded appearance */
}

.grey-btn {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    border-style: none;
    font-weight: 700;
    padding: 10px 22px 10px 21px;
    background-color: grey; 
    /* Replace with your desired background color */
     color: #fff; 
    /* Replace with your desired text color */
    border-radius: 4px; 
    /* Add some border-radius to give a rounded appearance */
}