@import "variables";

.contact-us {
    height: 100vh;
    max-width: 1280px; // Set your desired maximum width
    margin: 0 auto;   // Center the container horizontally

  }

  .contact-form {
    margin-top: 70px;
    height: 400px;
  }

  .photo-contact-us{
    margin-top: 70px;
    height: 400px;
    /* Set a fixed height for consistency */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

 
