@import "variables";


@media (min-width: 1240px) {

  .bg-contact-us {
    height: 100vh;
    max-width: 1280px;
    margin: 70px;

  }

  .contact-form {
    margin-top: 70px;
    height: 300px;
  }

  .photo-contact-us {
    margin-top: 70px;
    height: 400px;
    background-image: url('/assets/img/exploration-pictures/zansibar beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
  }

}