@import 'variables';
@import 'overlap';



.e-learning {

    background-color: $secondary;
}

.photo {
    height: 300px; /* Set a fixed height for consistency */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .photo-sm {
    height: 100px;
  }

  .photo-mini {
    height: 250px;
    width: 50%;
    position: relative;
    overflow: hidden;
    margin-top: 48px;
}

 .photo-md {
  height: 300px;
  margin-bottom: 24px;
 }
  
  .photo-md-right {
    height: 250px;
    margin-top: 312px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .photo-lg {
    height: 500px;
  
  }
  .text-container {
    height: 200px;
}

.text-learn {
    font: 1em sans-serif;
    color: $primary;
    height: 200px;
    margin: 20px;
    text-align: center;
    background: transparent;
    line-height: 1.4;
    /* Set the desired line height for more spacing between text rows */
}

