@import "variables";

.explore-container {
    background-color: $secondary;
}

.img-explore {

    height: 60vh;
    width: 500px;
    /* Set the height of the container, adjust as needed */
    background-image: url('/assets/img/exploration-pictures/wreck-black-n-white.jpg');
    /* Path to your image relative to the assets folder */
    background-repeat: no-repeat;

    /* Adjust as needed */
    background-position: center center;
}

.bg-black {
    background-color: $secondary;
}

.content-explore {
    .h1 {
        //trebuchet //Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        font-family: sans-serif;
        font-weight: bolder;
        color: #646665
    }

    height: 100vh;
    background-color: transparent;

    /* Add a media query for larger screens (e.g., desktops) */
    @media (min-width: 1200px) {
        max-width: 800px;
        /* Set a larger maximum width for larger screens */
        /* Adjust padding for larger screens if needed */
    }

    /* Add a media query for smaller screens (e.g., smartphones) */
    @media (max-width: 768px) {
        max-width: 90%;
        /* Set a different maximum width for smaller screens */
        /* Adjust padding for smaller screens if needed */
    }
}

.text-explore {
    font: 1em sans-serif;
    color: #646665;
    height: 3rem;
    width: 512px;
    text-align: center;
    background-color: transparent;
    line-height: 1.4;
    /* Set the desired line height for more spacing between text rows */
    margin-bottom: 4rem;
}