@import "variables";



.bg-explore {
    height: 100vh;
    max-width:1280px;
    margin: 0 auto;
    background-image: url('/assets/img/exploration-pictures/humphback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.content-explore {

    .h1-explore {
        font-family: sans-serif;
        font-weight: bolder;
        color: white;

    }

    height: 100vh;
    background-color: transparent;
}

.text-explore {
    font: 1em sans-serif;
    color: $white;
    height: 3rem;
    width: 50%;
    text-align: center;
    background-color: transparent;
    line-height: 1.4;
    /* Set the desired line height for more spacing between text rows */
    margin-bottom: 2rem;
}
