@font-face {
    font-family: 'Oswald';
    src: url('/src/app/assets/fonts/Oswald-Bold.ttf') format('tff'),
         url('/src/app/assets/fonts/Oswald-ExtraLight.tff') format('tff'),
         url('/src/app/assets/fonts/Oswald-Light.tff') format('tff'),
         url('/src/app/assets/fonts/Oswald-Medium.tff') format('tff'),
         url('/src/app/assets/fonts/Oswald-Regular.tff') format('tff'),
         url('/src/app/assets/fonts/Oswald-SemiBold.ttf') format('tff');
    /* Add more font formats as needed */
    font-weight: normal;
    font-style: normal;
  }

