@import "variables";

/* Larger screens (1240px and up) */
@media (min-width: 1240px) {

        .bg-footer {
                height: 30rem;
                max-width: 1280px;
                margin: 70px;
                background-color: $sky-blue;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
        }

        .footer-content {
                height: 30rem;
                background-color: transparent;



        }
}