






   .content-container {
      height: 100vh; /*100vh or auto?*/
      background-color: transparent;

   }

   .logo-container {
      max-width: 100%;
      /* Ensure the logo doesn't exceed its original size */
      height: auto;
      /* Allow the height to adjust proportionally */
      display: block;
      /* Make sure the logo behaves as a block element */
      margin: 0 auto;

   }

   .text-home {
      font: 1em sans-serif;
      color: $secondary;
      height: 3rem; /*100vh or auto?*/
      width: 512px;
      text-align: center;
      background-color: transparent;
      line-height: 1.4;
      /* Set the desired line height for more spacing between text rows */
      margin-bottom: 4rem;
   }



