@import 'variables';


.bg-container {
    height: 100vh;
    /* Set the height of the container, adjust as needed */
    background-image: url('/assets/img/exploration-pictures/hometurtle - fullHD-1920x1280.jpg');
    /* Path to your image relative to the assets folder */
    background-repeat: no-repeat;
    background-size: cover;
    /* Adjust as needed */
    background-position: center center;
}

.content-container {
   height: 100vh;
    width: 412px; 
    background-color: transparent;
}

.logo-container {
    max-width: 100%;
    /* Ensure the logo doesn't exceed its original size */
    height: auto;
    /* Allow the height to adjust proportionally */
    display: block;
    /* Make sure the logo behaves as a block element */
    margin: 0 auto;
    /* Center the logo horizontally */
}

.text {
    font: 1em sans-serif;
    color: $secondary;
    height: 4rem;
    width: 412px;
    text-align: center;
    background-color: transparent;

}

/* Custom CSS for flexible hamburger menu */
@media (max-width: 991.98px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}