@import 'variables';
@import 'overlap';

.bg-learn {
  height: 100vh;
  max-width: 1280px; // Set your desired maximum width
  margin: 10px; // Center the container horizontally
  padding: 20px;
  background-color: $white;
}

.photo-learn {
  margin-top: 24px;
  margin-bottom: 20px;
  /* Add some spacing between photos */
  height: 300px;
  /* Set a fixed height for consistency */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.photo-mini {
  height: 200px;
  width: 50%;
  margin-top: 24px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.photo-md-left {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.photo-md-right {
  height: 245px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-learn {
  font: 1em sans-serif;
  color: $primary;
  height: auto;
  margin: 20px;
  text-align: center;
  background: transparent;
  line-height: 1.4;
  /* Set the desired line height for more spacing between text rows */
}