@import 'variables';
@import 'backgrounds';

.bg-learn {
    background-color: $grey;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    /* Adjust as needed */
    background-position: center center;
}

/* .learn-content-container {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

} */

.photo-learn {
    margin-top: 24px;
    margin-bottom: 20px;
    /* Add some spacing between photos */
    height: 300px;
    /* Set a fixed height for consistency */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo-mini {
    height: 250px;
    width: 50%;
    position: relative;
    overflow: hidden;
}

.photo-md {
    height: 300px;
}

.photo-maxi {
    height: 350px;
}

.text-container {
    height: 200px;
}

.text-learn {
    font: 1em sans-serif;
    color: $primary;
    height: 200px;
    margin: 20px;
    text-align: center;
    background: transparent;
    line-height: 1.4;
    /* Set the desired line height for more spacing between text rows */
}