

header {
    .container {
        background-color: $primary;
        .navbar {
            background-color: $primary;
        }
        .nav-link {
            color: red; /* Set the desired color value */
          }
          
    }
   
}

