@import 'variables';

nav {

    .navbar {
        background-color: $primary;
       
    }

    .nav-link,
    .navbar-toggler,
    .nav-globe {

        color: $secondary !important;

        &:hover,
        :active {
            color: darken($color: $secondary, $amount: 20) !important;
        }

        &:focus {
            text-decoration: underline;
        }
    }





    .language-btn {
        background-color: transparent;

    }

    .modal {
        /* Add necessary styles to display the modal as a fixed overlay */
    }

    .modal-content {
        /* Add necessary styles to center the modal content */
    }

}