@import 'variables';

// Global styles

.bg-color-prim {
    background-color: $primary;
}

.bg-color-sec {
    background-color: $secondary;
}

.bg-trans {
    background-color: transparent;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

