/* You can add global styles to this file, and also import other style files */
/* $primary: #0F222D;
$secondary: #EBE7D9; */

/* 
header {
    .container {
        background-color: $primary;

        .navbar {
            background-color: $primary;
        }

        .nav-link,
        .nav-item,
        .navbar-toggler {
            color: $secondary;

            &:hover,
            :active {
                background-color: darken($color: $primary, $amount: 5);
            }
        }
    }
} */

$primary: black ;
$secondary: #EBE7D9; 

 .body {
    height:10rem;
    background-color: $primary;  
}
	/* Custom CSS for flexible hamburger menu */
    @media (max-width: 991.98px) {
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
    }