/* You can add global styles to this file, and also import other style files */
$primary: #0F222D;
$secondary: #EBE7D9;


header {
    .container {
        background-color: $primary;
        .navbar {
            background-color: $primary;  
        }
        .nav-link {
            color: $secondary;
          }
        .navbar-toggler {
            color: $secondary;
        }
    }
   
}