$primary: black;
$secondary: #EBE7D9;
$third: #BA3521;
$grey: #646656;
$blue-grey: #cccccc;
$white: #ffff;
$ocean-turquoise: #4FD0D3;
$turquoise-light: #90DFDC;
$sky-blue: #659AC2;
$sky-blue-light: #8fbce4;
$turtle-brown: #571B15;

$explorationFont: Zen Dots;
$unlimitedFont: Space Mono; 
$myFontSize: 18px;
$viewport-height: 100vh;




