$primary: black;
$secondary: #EBE7D9;
$third: #F55139;

$explorationFont: Zen Dots;
$unlimitedFont: Space Mono; 
$myFontSize: 18px;
$viewport-height: 100vh;


/* Logo color-schema 
Shape 1
Color: #EBE7D9 grey
Border Color: #EBE7D9

Shape 2
Color: #F55139 light red
Border Color: #EBE7D9

Exploration
Text Color: #EBE7D9
Font: Zen Dots

Unlimited
Text Color: #EBE7D9
Font: Space Mono

Background
Color: #0F222D  black */

//background-color: rgb(186, 53, 33); roströd
//background-color: rgb(255, 245, 208); gräddvit
//background-color: rgb(42, 60, 71); blåsvart

