$primary: #0F222D;
$secondary: #EBE7D9;
$third: #F55139;

$explorationFont: Zen Dots;
$unlimitedFont: Space Mono; 
$myFontSize: 18px;


/* Logo color-schema 
Shape 1
Color: #EBE7D9 grey
Border Color: #EBE7D9

Shape 2
Color: #F55139 light red
Border Color: #EBE7D9

Exploration
Text Color: #EBE7D9
Font: Zen Dots

Unlimited
Text Color: #EBE7D9
Font: Space Mono

Background
Color: #0F222D  black */



