<div class="container p-4">
  <!-- Visa inloggningsformuläret om användaren inte är inloggad -->
  <form class="loginform" *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()">
    <h1>Login</h1>
    <div class="form-group">
      <label for="login-email" class="form-label">Email</label>
      <input type="email" id="login-email" class="form-control" [(ngModel)]="email" name="email"
        placeholder="Enter your email" required />
    </div>

    <div class="form-group">
      <label for="login-password" class="form-label">Password</label>
      <input type="password" id="login-password" class="form-control" [(ngModel)]="password" name="password"
        placeholder="Enter your password" required />
    </div>

    <div class="form-group flex-container">
      <button type="submit" class="brown-btn-custom">
        {{ 'BUTTON.LOGIN' | translate }}
      </button>
    </div>
  </form>

  <!-- Felmeddelande visas om login misslyckas -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Visa meddelande och utloggningsknapp om användaren är inloggad -->
  <div *ngIf="isLoggedIn">
    <p>Du är inloggad!</p>
    <button (click)="logout()" class="brown-btn-custom">Logga ut</button>
  </div>
</div>
<!--<a class="nav-link" routerLink="/create-user"
aria-label="Create User">{{'MENU.CREATE_USER' | translate}}</a>-->